SECRET_KEY=
DEBUG=True
LIVE_ENV=False

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=

GROQ_API_KEY=
GROQ_LLM_MODEL=llama-3.1-8b-instant

GEMINI_API_KEY=
GEMINI_EMBEDDING_MODEL=gemini-embedding-001
CHUNKING_MODEL=gpt-4o-mini

REDIS_URL=redis://localhost:6379/0

OTEL_ENABLE_TRACING=False
OTEL_EXPORTER_OTLP_ENDPOINT=
OTEL_EXPORTER_OTLP_TOKEN=